<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Blog Pembelajaran</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="ms-auto">
                <button id="theme-toggle" class="theme-toggle btn">
                    <i class="bi bi-sun-fill"></i>
                </button>
            </div>    
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Beranda</a>
                </li>
                <!-- Matematika Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/matematika/" id="matematikaDropdown" role="button" data-bs-toggle="dropdown">
                        Matematika
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/matematika/sd/">SD</a></li>
                        <li><a class="dropdown-item" href="/matematika/smp/">SMP</a></li>
                        <li><a class="dropdown-item" href="/matematika/sma/">SMA</a></li>
                        <li><a class="dropdown-item" href="/matematika/lanjut/">Lanjut</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/matematika/">Semua Artikel Matematika</a></li>
                    </ul>
                </li>
                <!-- Bahasa Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/bahasa/" id="bahasaDropdown" role="button" data-bs-toggle="dropdown">
                        Bahasa
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/bahasa/inggris/">Bahasa Inggris</a></li>
                        <li><a class="dropdown-item" href="/bahasa/arab/">Bahasa Arab</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/bahasa/">Semua Artikel Bahasa</a></li>
                    </ul>
                </li>
                <!-- Teknologi Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/teknologi/" id="teknologiDropdown" role="button" data-bs-toggle="dropdown">
                        Teknologi
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/teknologi/frontend/">Developer Frontend</a></li>
                        <li><a class="dropdown-item" href="/teknologi/backend/">Developer Backend</a></li>
                        <li><a class="dropdown-item" href="/teknologi/office/">Microsoft Office</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/teknologi/">Semua Artikel Teknologi</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="progress-bar"></div>